{% extends "accounts/layout.html" %}
{% block media %}
	{% if user.is_authenticated %}
		<meta http-equiv = "refresh" content = "300 ;'logout'"/>
    {% for post in posts %}
        <article class="media content-section1">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author|capfirst }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h5><a class="article-title" href="{% url 'post-detail'  post.id %}">{{ post.title }}</a></h5>
            {% if post.image.url != NULL %}
              <img class="post-img" src="{{ post.image.url }}">
            {% endif %}
            {% if post.file.url != NULL %}
              <video class="post-img" src="{{ post.file.url }}" id="videoPlayer" controls="controls">
                <source src="{{ post.file.url }}" type="video/mp4">
              </video>
            {% endif %}
            <p class="article-content">{{ post.content|capfirst }}</p>
          </div>
        </article>
        <script>
          var videoPlayer = document.getElementById('videoPlayer');

          // Auto play, half volume.
          videoPlayer.play()
          videoPlayer.volume = 0.5;

          // Play / pause.
          videoPlayer.addEventListener('click', function () {
              if (videoPlayer.paused == false) {
                  videoPlayer.pause();
                  videoPlayer.firstChild.nodeValue = 'Play';
              } else {
                  videoPlayer.play();
                  videoPlayer.firstChild.nodeValue = 'Pause';
              }
          });
        </script>
      {% endfor %} 
  {% else %}
    <meta http-equiv = "refresh"  content= "0 ;'login'"/>
  {% endif %}
{% endblock media %}

	 
